* {
    padding: 0;
    margin : 0;
}

body {
    background-color: whitesmoke;
    height          : auto;
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : space-evenly;
    flex-direction  : column;
    overflow        : auto;
}

img {
    height        : 300px;
    width         : 300px;
    padding-bottom: 30px;
}

.search {
    width          : 80%;
    height         : 150px;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    flex-direction : column;
}

.search form {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    justify-content: space-evenly;
}

.search input {
    width        : 70%;
    height       : 35px;
    border-width : 1px;
    border-color : green;
    padding-left : 10px;
    border-radius: 5px;
}

.search input[type=submit] {
    width           : 70px;
    height          : 37px;
    background-color: green;
    color           : whitesmoke;
    margin          : 0;
    border          : none;
    padding         : 0px;

}

.links {
    height        : auto;
    width         : auto;
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.item {
    padding-top: 20px;
}

.con {
    width          : 90vw;
    height         : 100px;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;

}

.dow {
    width           : 100px;
    height          : 40px;
    background-color: green;
    color           : whitesmoke;
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-decoration : none;
    border-radius   : 5px;
}

a {
    text-decoration: none;
}

.line {
    height          : 2px;
    background-color: black;
    width           : 90vw;
}